name: Retire.js Security Scan

on:
  push:
    branches:
      - '**'  # Run on all pushes to any branch, including main

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  retire:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: cp install/package.json package.json

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: NPM Install
        uses: bahmutov/npm-install@v1
        with:
          useLockFile: false

      - name: Run Retire.js JavaScript vulnerability scan
        run: npm run retire
